body {
  background-color: #f8f9fa;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #002a5c;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #002a5c;
  color: white;
  padding: 30px 0;
}

footer a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  max-width: 400px;
}

.footer-map-social {
  max-width: 500px;
}

.social-media {
  margin-top: 10px;
}

/* Mặc định hiển thị form đăng nhập */
#login-section {
  display: flex; /* Căn giữa form */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Đặt chiều cao 100% màn hình */
}

/* Ẩn nội dung khi chưa đăng nhập */
#main-content {
  display: none;
}

.modal-content {
  border-radius: 10px;
  overflow: hidden;
}

.modal-dialog {
  max-width: 600px !important;
}
